<div class="resume-container">
    <div class="section center">
        <div class="row">
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4" style="color:black;">
                            <h5>Languages</h5>
                        </li>
                        <li class="collection-item">JavaScript (ES6)</li>
                        <li class="collection-item">TypeScript</li>
                        <li class="collection-item">Python</li>
                        <li class="collection-item">Java</li>
                        <li class="collection-item">CSS</li>
                        <li class="collection-item">HTML</li>
                        <li class="collection-item">Swift 3</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4" style="color: black;">
                            <h5>Front End Web</h5>
                        </li>
                        <li class="collection-item">React</li>
                        <li class="collection-item">Angular</li>
                        <li class="collection-item">jQuery</li>
                        <li class="collection-item">AJAX, JSON</li>
                        <li class="collection-item">RESTful APIs</li>
                        <li class="collection-item">Bootstrap</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4" style="color: black">
                            <h5>Back End</h5>
                        </li>
                        <li class="collection-item">Node.js, Express</li>
                        <li class="collection-item">Django</li>
                        <li class="collection-item">Flask</li>
                        <li class="collection-item">AWS(EC2, Lambda)</li>
                        <li class="collection-item">RESTful Routing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>