<html>
  <head>    
  </head>
  <body>
     <!-- <form (submit)="onSubmit()"> -->
       <!-- <p> {{newContact || json }} </p> -->
       <!-- <input type="text" name="newContact.firstName" [(ngModel)]="newContact.firstName"/>
       <input type="text" name="newContact.lastName" [(ngModel)]="newContact.lastName"/> -->
       <!-- <input type="submit" value="Submit"/> -->
     <!-- </form> -->
    <div class="jumbotron">
        <div class="text-center project-referal">
          <div class="title text-center">Shall We Begin?</div>
          <div class="email-icon center"></div>
          <h1>johnhavenbradley@gmail.com</h1>
        </div>
    </div>
  </body>
</html>