  <header class="main-header">
  </header>

  <div class="content">
    <section class="section-dark">
      <article class="my-story">
        <div class="logo"></div>
        <h1>Hi, I'm John</h1>
        <hr>
        <p>I am a freelance developer working in multiple front to back-end web frameworks as well as iOS mobile. I bring the communication skills, meticulous nature, and high-standard I learned as an Army Ranger Captain to each and every project to which I commit myself.</p>
        <hr>
      </article>
    </section>

      <section>
        <article class="coding-fun">
          <h1>"Here Are Some Of My Past Projects"</h1>
        </article>
      </section>

    <section>
      <article class="youtube-videos">
        <h1>Youtube Videos</h1>
        <div class="ui link cards">
          <div class="card">
              <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
              <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
              <script src="semantic/dist/semantic.min.js"></script>
          </div>
        </div>
      </article>
    </section>
  </div>

  
  
  
  
  <!-- <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/CPUBackground.jpg"></div>
  </div> -->

  <!-- <nav class="white">
    <div class="nav-wrapper">
      <a *ngIf="wedding" href="#" class="page-title black-text">{{wedding.name | uppercase}}</a>
      <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
      data-activates="nav-mobile" class="button-collapse hide-on-large-only">
      <i class="material-icons grey-text">menu</i>
      </a>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a><i class="material-icons" (click)="close()">close</i></a>
        </li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active"><a class="black-text [routerLink]="menuItem.route">{{ menuItem.name | uppercase }}</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a><i class="material-icons" (click)="close()">close</i></a>
        </li>
        <li *ngFor="menuItem of menuItems" routerLinkActive="active"><a class="black-text" [routerLink]="menuItem.route" (click)="close()">{{menuITem.name | uppercase }}</a></li>
        <div class="divider">
        </div>
      </ul>
    </div>
  </nav>
   -->